$main-color: #f0efeb
$second-color: lighten(#f0efeb, 5)
$third-color: #d24d57

body
  background-color: $third-color

// Override ant-design default colors
.ant-btn
  color: $third-color

  &:hover
    color: lighten($third-color, 10)
    border-color: $third-color

.ant-btn-primary
  color: white
  background-color: $third-color
  border-color: $third-color

  &:hover
    color: white
    background-color: lighten($third-color, 10)
    border-color: $third-color

.ant-pagination-item-active
  border-color: $third-color

  a
    color: $third-color

  &:hover
    border-color: darken($third-color, 10)

    a
      color: darken($third-color, 10)

#root
  height: 100%

.App
  text-align: center

.App-logo
  height: 40vmin
  width: 40vmin
  pointer-events: none
  align-self: center
  margin: 3rem

.Team-logo
  height: 4vmin
  width: 4vmin
  pointer-events: none
  align-self: center
  margin: 10px

.ant-layout-content
  background: adjust_hue(lighten($second-color, 15), 10)

.ant-layout-footer
  background: $third-color
  text-align: right

.ant-layout-header
  display: flex
  background-image: url("/highway.png")
  background-repeat: no-repeat
  background-size: cover
  border-bottom: .2em solid $third-color
  align-items: center
  padding: 0 1rem


  .log-off-button
    background: $second-color
    color: $third-color

    &:hover
      color: $third-color
      border-color: $third-color

  .header-options
    position: absolute
    right: 1rem
    margin: 1rem

  .ant-select
    margin: 2rem

  .ant-select-selection-item
    min-width: 7rem
    max-width: 12rem


.header-logo
  height: 40px
