$main-color: #f0efeb
$second-color: lighten(#f0efeb, 5)
//$third-color: #d24d57
//$fourth-color: #0d1a1a
//$fifth-color: #162b2b


//$third-color: #dc5651
//$fourth-color: #0C1117
//$fifth-color: #768b98
//
//$third-color: #F24C00
//$fourth-color: #485696
//$fifth-color: #E7E7E7

//$third-color: #513e5c
//$fourth-color: #02334a
//$fifth-color: #a9bcc6


$third-color: #ac3f37
$fourth-color: #070c17
$fifth-color: #91aabf

body
  background-color: $third-color
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
  font-size: 1rem

// Override ant-design default colors


.ant-table
  background-color: lighten($fifth-color, 10)
  thead.ant-table-thead tr > th
    background-color: lighten($fourth-color, 10)

.ant-btn
  color: $third-color
  background-color: $fourth-color

  &:hover
    color: $third-color
    background-color: lighten($fourth-color, 10)
    border-color: $third-color


.ant-btn-primary
  color: $fourth-color
  background-color: $third-color
  border-color: $third-color

  &:hover
    color: $fourth-color
    background-color: lighten($third-color, 10)
    border-color: $fourth-color

.ant-pagination-item-active
  border-color: $third-color

  a
    color: $third-color

  &:hover
    border-color: darken($third-color, 10)

    a
      color: darken($third-color, 10)

#root
  height: 100%

.App
  text-align: center

.App-logo
  height: 40vmin
  width: 40vmin
  pointer-events: none
  align-self: center
  margin: 3rem

.Team-logo
  height: 4vmin
  width: 4vmin
  pointer-events: none
  align-self: center
  margin: 10px

.ant-layout-content
  //background: adjust_hue(lighten($second-color, 15), 10)
  background: $fifth-color


.ant-layout-footer
  background: $third-color
  text-align: right

.ant-layout-sider
  background: $fourth-color

.ant-layout-header
  position: fixed
  width: 100%
  z-index: 3
  display: flex
  background-image: url("/highway.png")
  background-repeat: no-repeat
  background-size: cover
  border-bottom: .2em solid $third-color
  align-items: center
  padding: 0 1rem


  .log-off-button
    background: $second-color
    color: $third-color

    &:hover
      color: $third-color
      border-color: $third-color

  .header-options
    position: absolute
    right: 1rem
    margin: 1rem

  .ant-select
    margin: 2rem

  .ant-select-selection-item
    min-width: 7rem
    max-width: 12rem


.header-logo
  height: 40px
