$main-color: #70e2ef
$second-color: #fee187

//$main-color: #4EA8DE
//$second-color: #72EFDD

$main-color: #f0efeb
$second-color: lighten(#f0efeb, 5)
$third-color: #64dfdf

// Override ant-design default colors
.ant-btn
  color: $third-color
  &:hover
    color: lighten($third-color, 10)
    border-color: $third-color

.ant-btn-primary
  color: white
  background-color: $third-color
  border-color: $third-color
  &:hover
    color: white
    background-color: lighten($third-color, 10)
    border-color: $third-color

.ant-pagination-item-active
  border-color: $third-color
  a
    color: $third-color

  &:hover
    border-color: darken($third-color, 10)
    a
      color: darken($third-color, 10)

#root
  height: 100%

.App
  text-align: center

.App-logo
  height: 40vmin
  width: 40vmin
  pointer-events: none
  align-self: center
  margin: 3rem

.ant-layout-content
  background: adjust_hue(lighten($second-color, 15), 10)

.ant-layout-header
  display: flex
  align-items: center
  background: $main-color
  padding: 0 1rem

  .header-app-name
    margin-bottom: 0
    color: $third-color
    display: inline
    align-self: center
    margin-left: 1rem
    font-family: Apple Chancery, cursive
    font-size: 3rem

  .log-off-button
    float: right
    background: $second-color
    color: $third-color

    &:hover
      color: $third-color
      border-color: $third-color

.header-logo
  width: 50px
