@import './App.sass'

html
  scroll-behavior: smooth

.homepage
  display: flex
  margin-top: 64px
  flex-direction: column
  text-align: center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  background-position: top
  background-image: url('/background.jpg')

  .main-section
    height: 100vh


  .country-container
    position: relative
    text-align: center
    z-index: 1
    display: flex
    flex-direction: row
    margin: 4rem
    padding: 0 .5rem


  .react-json-view
    margin: 1rem 2rem
    text-align: left

  .result-json-container, .team-credit
    background-color: transparentize($third-color, .35)

  .team-credit
    text-align: right
    height: 3rem
    padding: .2rem .2rem