@import './App.sass'

.homepage
  display: flex
  flex-direction: column
  text-align: center
  margin-bottom: 1rem

  .country-container
    display: flex
    flex-direction: row
    margin: 2rem

    .ant-card-body
      padding-left: 0
      padding-right: 0


  .react-json-view
    margin: 1rem 2rem
    text-align: left
