.homepage
  display: flex
  flex-direction: column
  text-align: center

  .config-line
    align-self: center
    display: flex
    margin-top: 2rem
    align-items: baseline

  .config-modal-button
    display: inline
    position: relative
    margin-right: 1rem
