.road-status-container
  flex: 1
  margin: 0 1rem
  display: flex
  width: 70%
  flex-direction: column
  align-self: center
  .road-status
    display: flex
    flex-direction: row
    p
      min-width: max-content
      margin: 0 1rem
    .road-status-weight
      display: none

.road-status-container:hover
  flex: 2
  .road-status-weight
    display: inline
