.road-status-container
  margin: 0 2rem 1rem 0.5rem
  display: flex
  flex-direction: column
  align-self: center

  .road-status
    display: flex
    flex-direction: row
    margin: .3rem 0
    p
      min-width: max-content
      margin: 0 1rem
      color: white
    .road-status-weight
      display: none

//.road-status-section:hover
//  .road-status-weight
//    display: inline
