@import "src/App"

.road-status-section
  overflow: auto
  height: 400px
  -ms-overflow-style: none  // IE and Edge
  scrollbar-width: none  // Firefox

.road-status-section::-webkit-scrollbar // Chrome
    display: none
